language: php

php:
  - 7.0

addons:
  hosts:
    - gsandbox.localhost

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

sudo: false

before_script:
  - echo "<?php return ['storePath' => '$TRAVIS_BUILD_DIR/data', 'inventoryComplete' => '+10 minute']; " > config.php
  - mkdir -p "$TRAVIS_BUILD_DIR/data/UNITTEST/vaults"
  - composer install -n
  - php -S 127.0.0.1:8080 htdocs/index.php &
  - sleep 1

script:
  - php vendor/bin/codecept run
  #- php vendor/bin/codecept run --coverage-xml

# XXX https://github.com/Codeception/Codeception/issues/2730
#after_script:
#  - php vendor/bin/coveralls -v

